flake8
flake8-broken-line
flake8-bugbear
flake8-builtins
flake8-comprehensions
flake8-copyright
flake8-docstrings
flake8-eradicate
flake8-import-order
flake8-import-single
flake8-quotes
flake8-use-fstring
pep8-naming
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
