docker
Flask==3.1.1
lxml==5.3.1
paramiko
pytest==8.3.5
pytest-asyncio==0.26.0
pytest-cov>=2.10.0
pytest-mock==3.14.0
defusedxml==0.7.1
matplotlib==3.10.1
fpdf2==2.8.3
papermill==2.6.0
pyfakefs==5.8.0
torch==2.7.0
boto3>=1.37.19
moto==5.1.1
torchvision==0.22.0
azure-storage-blob==12.25.1
cryptography>=3.4.0
