@layer accessibility{

  html{
    font-size: 100%;
  }

  /* links */

  .wy-breadcrumbs a{
    color:var(--classic-blue);
  }

  [role=main] a,
  footer a:not([class*=btn-neutral]){
    color: var(--classic-blue);
    text-decoration: underline;
  }

  [role=main] a:hover,
  footer a:not([class*=btn-neutral]):hover{
    color: var(--cobalt);
  }

  .rst-versions.shift-up a{
    color:var(--classic-blue-tint2);
  }

  /* read the docs meta information in toggle content */
  
  .rst-versions .rst-other-versions{
    color:var(--carbon-tint1);
  }
  
  /* end read the docs meta information in toggle content */

  /* end links */

  footer{
    color:#737373;
  }

  /* breadcrumb navigation */

  .icon.icon-home{
    margin-left:-5px;
    padding:5px;
  }

  /* end breadcrumb navigation */

  .rst-content .toctree-wrapper>p.caption,
  .rst-content h1,
  .rst-content h2,
  .rst-content h3,
  .rst-content h4,
  .rst-content h5,
  .rst-content h6{
    margin-bottom:1.5rem;
  }

  /* search results */

  #search-results .context{
    color:var(--black);
  }


  /* end search results */

  /* flow content */

  p {
    line-height: inherit;
    font-size: inherit;
  }

  button,
  input,
  select,
  textarea,
  input[type=button],
  input[type=reset],
  input[type=submit] {
    font-size: inherit;
  }

  .rst-content .important,
  .rst-content .note,
  .rst-content .seealso,
  .rst-content .tip,
  .rst-content .warning,
  .wy-alert {
    line-height: inherit;
  }

  .rst-content .section ul,
  .rst-content .toctree-wrapper ul,
  .rst-content section ul,
  .wy-plain-list-disc,
  article ul {
    line-height: inherit;
  }

  .rst-content .toctree-wrapper ol,
  .rst-content .toctree-wrapper ol.arabic,
  .rst-content section ol,
  .rst-content section ol.arabic,
  .wy-plain-list-decimal,
    article ol {
    line-height: inherit;
  }

  .rst-content blockquote {
    line-height: inherit;
  }

  .rst-content dl dd {
    line-height: inherit;
  }

  /* end flow content */

  /* sidebar */

  .wy-nav-side ::placeholder{
    /* needed for Safari */
    color:#757575;
  }

  .wy-menu-vertical header, .wy-menu-vertical p.caption{
    color:var(--classic-blue-tint2);
  }

  .wy-menu-vertical li.current>a button.toctree-expand,
  .wy-menu-vertical li button.toctree-expand {
      color: currentColor;
      padding: 7px;
      transform: translate(-7px, -7px);
  }

  .wy-side-nav-search{
    background: var(--cobalt);
  }

  .wy-side-nav-search>div.version{
    color:var(--classic-blue-tint2);
  }

  /* end sidebar */


  /* notes and similar */

  .rst-content .note .admonition-title,
  .rst-content .note .wy-alert-title,
  .rst-content .seealso .admonition-title,
  .rst-content .seealso .wy-alert-title,
  .rst-content .wy-alert-info.admonition-todo .admonition-title,
  .rst-content .wy-alert-info.admonition-todo .wy-alert-title,
  .rst-content .wy-alert-info.admonition .admonition-title,
  .rst-content .wy-alert-info.admonition .wy-alert-title,
  .rst-content .wy-alert-info.attention .admonition-title,
  .rst-content .wy-alert-info.attention .wy-alert-title,
  .rst-content .wy-alert-info.caution .admonition-title,
  .rst-content .wy-alert-info.caution .wy-alert-title,
  .rst-content .wy-alert-info.danger .admonition-title,
  .rst-content .wy-alert-info.danger .wy-alert-title,
  .rst-content .wy-alert-info.error .admonition-title,
  .rst-content .wy-alert-info.error .wy-alert-title,
  .rst-content .wy-alert-info.hint .admonition-title,
  .rst-content .wy-alert-info.hint .wy-alert-title,
  .rst-content .wy-alert-info.important .admonition-title,
  .rst-content .wy-alert-info.important .wy-alert-title,
  .rst-content .wy-alert-info.tip .admonition-title,
  .rst-content .wy-alert-info.tip .wy-alert-title,
  .rst-content .wy-alert-info.warning .admonition-title,
  .rst-content .wy-alert-info.warning .wy-alert-title,
  .rst-content .wy-alert.wy-alert-info .admonition-title,
  .wy-alert.wy-alert-info .rst-content .admonition-title,
  .wy-alert.wy-alert-info .wy-alert-title{
    background: var(--blue-steel-shade1);
  }

  /* code and code blocks */

  .rst-content code.literal,
  .rst-content tt.literal{
    color:var(--rust-shade1);
  }

  .rst-content code,
  .rst-content tt, code{
    font-size:0.875rem;
  }

  .rst-content .linenodiv pre,
  .rst-content div[class^=highlight] pre,
  .rst-content pre.literal-block{
    word-break: break-all;
    white-space: pre-wrap;
    font-size:0.875rem;
  }

}
