  :root{
  --white: #fff;
  --black: #000;

  --classic-blue: #0054ae;
  --classic-blue-shade1: #00377c;
  --classic-blue-shade2: #001e50;
  --classic-blue-tint2: #6cc4f5;
  --classic-blue-tint1: #0099ec;

  --carbon: #808080;
  --carbon-shade1: #525252;
  --carbon-shade2: #262626;
  --carbon-tint2: #e9e9e9;
  --carbon-tint1: #aeaeae;

  --blue-steel: #548fad;
  --blue-steel-shade1: #41728a;
  --blue-steel-shade2: #183544;
  --blue-steel-tint2: #b9d6e5;
  --blue-steel-tint1: #86b3ca;

  --geode: #8f5da2;
  --geode-shade1: #653171;
  --geode-tint2: #eec3f7;
  --geode-tint1: #cc94da;

  --rust: #e96115;
  --rust-shade1: #b24501;
  --rust-tint2: #ffc599;
  --rust-tint1: #ff8f51;

  --moss: #8bae46;
  --moss-shade1: #708541;
  --moss-shade2: #515a3d;
  --moss-tint2: #d7f3a2;
  --moss-tint1: #b1d272;

  --cobalt: #1e2eb8;
  --cobalt-shade1: #000f8a;
  --cobalt-shade2: #000864;
	--cobalt-shade3:#040e35;
  --cobalt-tint2: #98a1ff;
  --cobalt-tint1: #5b69ff;

  --coral: #ff5662;
  --coral-shade1: #c81326;
  --coral-tint2: #ffb6b9;
  --coral-tint1: #ff848a;

  --daisy: #fec91b;
  --daisy-shade1: #edb200;
  --daisy-shade2: #c98f00;
  --daisy-tint1: #ffe17a;

  --status-error: #ce0000;
  --status-success: #008a00;
  --status-warning: #ffd100;
}
