openfl>=1.2.1
numpy>=1.13.3
torch>=1.13.1
scikit-learn>=0.24.1
mistune>=2.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
