absl-py==0.13.0
argon2-cffi==20.1.0
asgiref==3.4.1
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.3.1
cachetools==4.1.1
certifi==2020.12.5
cffi==1.14.6
chardet==3.0.4
charset-normalizer==2.0.4
click==8.0.1
cloudpickle==1.6.0
colorama==0.4.4
commonmark==0.9.1
cryptography==3.4.7
cycler==0.10.0
dataclasses==0.6
debugpy==1.4.1
decorator==5.0.9
defusedxml==0.7.1
Django==3.2.6
docker==5.0.0
entrypoints==0.3
flatten-json==0.1.13
future==0.18.2
gast==0.3.3
google-api-core==1.23.0
google-api-python-client==1.12.8
google-auth==1.23.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.5
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grpcio==1.34.1
grpcio-tools==1.34.1
h5py==2.10.0
httplib2==0.18.1
idna==2.10
image==1.5.33
imageio==2.9.0
ipykernel==6.0.3
ipython==7.26.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mistune==0.8.4
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.2
ngt==1.12.2
notebook==6.4.0
numpy==1.18.5
oauthlib==3.1.1
opencv-python==4.5.3.56
opt-einsum==3.3.0
packaging==21.0
pandas==1.1.5
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
pip==21.3.1
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==3.14.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.7.1
pycparser==2.20
Pygments==2.9.0
pynvml==11.0.0
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.1
pytz==2020.4
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.1.0
qtconsole==5.1.1
QtPy==1.9.0
requests==2.25.0
requests-oauthlib==1.3.0
rich==9.1.0
rsa==4.6
scikit-image==0.18.2
scikit-learn==0.24.2
scipy==1.7.1
Send2Trash==1.7.1
setuptools==47.1.0
six==1.15.0
sklearn==0.0
soupsieve==2.0.1
sqlparse==0.4.1
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
threadpoolctl==2.2.0
tifffile==2021.7.30
toml==0.10.2
torch==1.7.0
torchvision==0.8.1
tornado==6.1
tqdm==4.54.1
traitlets==5.0.5
typing-extensions==3.10.0.0
uritemplate==3.0.1
urllib3==1.26.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.1.0
Werkzeug==2.0.1
wheel==0.36.2
widgetsnbextension==3.5.1
wrapt==1.13.2
