setuptools>=65.5.1
accelerate
datasets
evaluate
horovod
huggingface_hub
jupyter
peft
sentencepiece
seqeval
tensorboard
torch==2.4.1
torchvision==0.19.1
transformers[torch]
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
