# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Interactive API - Tensorflow MNIST

on:
  pull_request:
    branches: [ develop ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest # Add Windows support after https://github.com/keras-team/keras/issues/16308 is merged

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.8
      uses: actions/setup-python@v3
      with:
        python-version: "3.8"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .
    - name: Interactive API - tensorflow_mnist
      run: |
        python setup.py build_grpc
        pip install tensorflow==2.13
        python -m tests.github.interactive_api_director.experiments.tensorflow_mnist.run
