# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Interactive API - Pytorch Kvasir UNet

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.8
      uses: actions/setup-python@v3
      with:
        python-version: "3.8"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .
    - name: Interactive API - pytorch_kvasir_unet
      run: |
        python setup.py build_grpc
        pip install torch==1.7.1
        pip install torchvision==0.8.2
        cd tests/github/interactive_api_director/experiments/pytorch_kvasir_unet
        ./run.sh
        pkill fx
