# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: TaskRunner

on:
  pull_request:
    branches: [ develop ]

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
       os: ['ubuntu-latest', 'windows-latest']
       python-version: ['3.8','3.9','3.10','3.11']
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies ubuntu
      if: matrix.os == 'ubuntu-latest'
      run: |
        python -m pip install --upgrade pip
        pip install .
    - name: Install dependencies windows
      if: matrix.os == 'windows-latest'
      run: |
        python -m pip install --upgrade pip
        pip install .
    - name: Test TaskRunner API
      run: |
        python -m tests.github.test_hello_federation --template keras_cnn_mnist --fed_workspace aggregator --col1 col1 --col2 col2  --rounds-to-train 3 --save-model output_model
    - name: Test Experimental Aggregator Based Workflow API
      run: |
        python -m tests.github.experimental.workspace.test_experimental_agg_based_workflow --custom_template tests/github/experimental/workspace/testcase_datastore_cli --fed_workspace aggregator --col col1 --col col2  --rounds-to-train 1